.partners {
    padding: 63px 0 66px;

    &__title {
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex: 1 1 calc(100%/5);
        min-width: 200px;
        text-align: center;
    }
}