html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    @media screen and (max-width: 1300px) {
        font-size: 14px;
    }

    @media screen and (max-width: 900px) {
        font-size: 12px;
    }

    @media screen and (max-width: 600px) {
        font-size: 10px;
    }
}

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

$main-color: #07A7EB;

.button {
    font-size: toRem(18);
    color: #FFFFFF;
    background: #07A7EB;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.title {
    font-size: toRem(36);
    font-weight: 400;
    color: #000000;

}